<template>
  <div class="hello">
   <form @submit.prevent="createNode"> 
    <div> 
       <textarea v-model="content"></textarea>
    </div>
    <input type="submit" value="create"/>
  </form>
   
  </div>
</template>

<script>
import axios from 'axios'
axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';

export default {
  name: 'CreateNote',

  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      content:'ccc'
    }
  },


  methods:{
    createNode: function() {
      console.info(this.content);

      var params = new URLSearchParams();
      params.append('userId', '111');
      params.append('content', this.content);
      
      axios.post('/worknote-api/note/create',params)
        .then(function(response){
           console.log(response.data);
          //  alert(JSON.stringify(response.data))
        })
        .catch(function(error) {
          console.log(error)
        })
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
