<template>
  <div class="hello">
   
   
  </div>
</template>

<script>
import axios from 'axios'


export default {
  name: 'CreateNote',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      datalist:[]
    }
  },
  created : function() {
     console.log('mounted');
    
      // getDataList();
  
  },
  methods: {
    getDataList: function() {
      var params = new URLSearchParams();
      params.append('userId', '111');
      params.append('page',0);
      
      axios.post('/worknote-api/note/listByUserId',params)
        .then(function(response){
           console.log(response.data.data);
          //  alert(JSON.stringify(response.data))

        })
        .catch(function(error) {
          console.log(error)
        })
    }
  },

  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
